env-setup/
.venv/
util/hw_stats/device_info/
hw_run/
sim_run_*
*.DS_Store*
*.csv
*.csv#
4.2/
gpucomputingsdk_4.2.9_linux.run
util/job_launching/*.txt
devFiles/*/*.sm_*.ptx*
devFiles/*/_cuobjdump_list_ptx_*
devFiles/*/_app_cuda_version_*
devFiles/*/checkpoint_files
devFiles/traces
devFiles/tracesGold
*.out
massif.*
*_valgrind.*
*.err
util/traces_enhanced/pb_trace
spot/
*.png
stats_output_*
